@theme-primary: #1da57a;
@theme-primary-light: #5ce8a8;
@theme-primary-dark: #3b8070;
@theme-secondary: #ffc72d;
@theme-secondary-light: #ffeb3b;
@theme-red: #fc224c;
@theme-yellow: #ffeb3b;
@theme-gold: #ffc72d;
@theme-green: #a0ff55;
@theme-cyan: #09ecaf;
@theme-blue: #3d7fff;
@theme-purple: #7c4dff;
@theme-pink: #f84186;
@theme-grey: #2c3e50;
@theme-beige: #f7f4ef;

// Colors
@gold-6: @theme-gold;
@green-6: @theme-cyan;
@blue-6: @theme-blue;
@red-6: @theme-pink;
@grey-6: @theme-grey;
@white-6: @theme-beige;

@primary-color: @theme-primary;
@info-color: @theme-blue;
@success-color: @theme-green;
@processing-color: @theme-blue;
@error-color: @theme-red;
@highlight-color: @theme-pink;
@warning-color: @theme-gold;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

// Links
@link-color: @theme-primary-dark;
@link-decoration: none;
@link-hover-decoration: none;

// Background color for `<body>`
@body-background: @white; // af1;
// Base background color for most components
@component-background: @white;
@font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
@code-family: "SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace";
@heading-color: fade(@primary-color, 85%);
@heading-black-color: fade(@black, 75%);
@text-color: fade(@black, 65%);
@text-color-secondary: fade(@theme-grey, 75%);
@text-color-inverse: @white;
@icon-color-hover: fade(@black, 75%);
@heading-color-dark: fade(@white, 100%);
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);
@font-variant-base: tabular-nums;
@font-size-base: 16px;
@font-size-lg: @font-size-base + 4px;
@font-size-sm: 12px;
@line-height-base: 1;
@border-radius-base: 4px;
@border-radius-sm: 2px;

// Vertical paddings
@padding-xl: 32px;
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 8px; // Form controls and items
@padding-xs: 4px;

// Vertical padding for all form controls
@control-padding-horizontal: 8px;
@control-padding-horizontal-sm: 4px;


// Button color
@btn-primary-color: @white;

// Border color
@border-color-base: lighten(@white, 85%); // base border outline a component
@border-color-split: lighten(@white, 94%); // split border inside a component
@border-color-inverse: @white;

// Background colors
@background-color-light: lighten(@white, 98%); // background of header and selected item
@background-color-base: lighten(@white, 96%); // Default grey background color

// Skeleton color
@skeleton-color: #f2f2f2;
@skeleton-to-color: shade(@skeleton-color, 5%);

// Alert colors
@alert-message-color: @heading-black-color;

@import './_variablesDark';
